SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_anon_key_here
SUPABASE_DB_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres
SECRET_KEY=your_django_secret_key_here
DEBUG=True

# without the []  musabhaize. 
#  Plus futi generate the secret key for the django project using the following command in the terminal:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
# the rest of the values can be copied from the supabase project settings.