Django>=4.2,<5.0
transformers>=4.30.0
torch>=2.0.0
httpx>=0.24.0
python-dotenv>=1.0.0
pandas>=2.0.0
psycopg2-binary>=2.9.0
dj-database-url>=2.0.0
reportlab>=4.0.0
svglib>=1.6.0

# ./venv/Scripts/python.exe manage.py makemigrations journal
